/* Start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 50%);
  --section-padding: 100px;
}
/* End Variables */

/* Start Components */
.main-heading {
  text-align: center;
  margin: 50px;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: #222; */
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
@media (max-width: 750px) {
  header {
    transform: scale(70%);
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  header {
    transform: scale(50%);
    display: flex;
    justify-content: center;
  }
}
header .container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container:before {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  bottom: 0;
  height: 1px;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo img {
  height: 40px;
  transition: 0.5s;
}
header .logo img:hover {
  transform: scale(105%);
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 300px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 299px) {
  header {
    position: relative;
    top: 0;
    min-width: 200%;
  }
  header .container {
    width: 100%;
    position: relative;
    right: 50%;
    top: 0;
  }
  header .toggle-menu {
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  header .toggle-menu:hover {
    color: #19f2fa;
    font-size: 30px;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    background-color: rgba(51, 51, 51, 0.199);
    border-radius: 3%;
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
    right: 0;
  }
  header nav ul::before {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgba(51, 51, 51, 0.199) transparent;
    position: absolute;
    right: 75px;
    top: -30px;
  }
  header .menu:hover ul {
    display: block;
  }
  /* header nav .menu + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.199);
  } */
  header nav ul li a {
    padding: 20px !important;
    width: 100%;
  }
  header nav:hover ul li {
    width: 100%;
  }
  header nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    font-size: 22px;
  }
  header nav ul:hover li a.active {
    border-bottom: 0;
    color: white;
  }
  header nav ul li a.active:hover {
    color: #19f2fa;
    font-size: 22px;
    border-bottom: 1px solid #19f2fa;
  }
}
header nav ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  padding: 40px 10px;
  z-index: 2;
  position: relative;
}
header nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  font-size: 22px;
}
header nav ul:hover li a.active {
  border-bottom: 0;
  color: white;
}
header nav ul li a.active:hover {
  color: #19f2fa;
  font-size: 22px;
  border-bottom: 1px solid #19f2fa;
}
header nav .form {
  width: 43px;
  height: 50px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
  transition: 0.3s;
}
header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  transition: 0.3s;
}
header nav .form:hover {
  transform: translateX(-10px);
  border-left: 5px solid #19fae7;
  transform: rotate(-90deg);
}
header nav .form:hover i {
  font-size: 26px;
  color: #19fae7;
  padding-bottom: -200px;
}
/* End Header */

/* Start Header */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/owl.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.landing .container {
width: 100%;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 0;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
} 
.landing .text .content {
  max-width: 500px;
} 
@media (max-width: 950px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
    
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  font-size: 20px;
  transition: 0.3s;
}
.landing .change-background:hover {
  cursor: pointer;
  color: transparent;
}
@media (max-width: 750px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 15px;
}
.landing .fa-angle-right {
  right: 15px;
}
.landing .bullets {
  width: fit-content;
}
.landing .bullets ul {
display: flex;
position: absolute;
bottom: 15px;
right: 50%;
transform: translatex(50%);
width: fit-content;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.3s;
}
.landing .bullets ul li.active {
  background-color: var(--main-color);
  border-color: #5fd4f5;
  transition: 0.3s;
}
.landing .bullets ul:hover li.active{
  background-color: transparent;
  border-color: white;
  cursor: pointer;
}
.landing .bullets ul li.active:hover{
  background-color: var(--main-color);
  border-color: #5fd4f5;
  cursor: pointer;
  transform: scale(110%);
}
.landing .bullets ul li:hover {
  background-color: var(--main-color);
  border-color: #5fd4f5;
  cursor: pointer;
  transform: scale(110%);
}
/* End Header */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  overflow: hidden;
}

@media (min-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
  transition: 0.3s;
}
.services .srv-box:hover {
transform: scale(105%);
}
.services .srv-box i {
  margin-right: 35px;
  margin-top: -10px;
}
@media (max-width: 991px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv-box p {
  line-height: 2;
  color: #777;
}
/* End Services */

/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 1080px;
  position: relative;
  background-image: url("../images/design-features.png");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  display: inline-block;
}
/* .design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
} */
.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -325px;
}
.design .text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}
@media (max-width: 767px) {
  .design .text {
    min-width: 100%;
    max-height: 50%;
  }
}
@media (max-width: 555px) {
  .design .image img {
  transform: translateX(-15%);
  }
}
@media (max-width: 350px) {
  .design .text {
    padding: 5px;
  }
}
@media (max-width: 350px) {
  .design .text h2, 
  .design .text ul li {
    font-size: 10px;
  }
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
  justify-content: center;
  font-size: 15px;
}
.design .text ul li {
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */